.top .visible{
    opacity: 1;
    transform: translateY(0px) scale(1);
    transition: 1s;
}
.top .invisible{
    transform: translateY(-375px) scale(0.25);
    position: fixed;
    z-index: 5;
    opacity: 0;
    transition: 1s;
}

.op-75{
    opacity: 0.75;
}

.op-0{
    transform: translate3d(0px,395px,0px) scale(5);
    opacity: 0;
    transition: 1s;
}